@using TelephoneDirectory.Models.Entity
@model List<Administrator>
@{
    ViewBag.Title = "AdministratorOperation";
}

@if (Session["UserName"] != null)
{
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Admin İşlemleri</a>
            </div>
        </div>
    </nav>
    <table class="table table-bordered">
        <tr>
            <th>Yönetici Id</th>
            <th>Yönetici Adı</th>            
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        <tbody>
            @foreach (var information in Model)
            {
                <tr>
                    <td>@information.AdministratorId</td>                    
                    <td>@information.AdministratorName</td>                    
                    <td><a class="btn btn-danger" href="/AdminUI/AdministratorDelete/@information.AdministratorId">Sil</a></td>
                    <td><a class="btn btn-success" href="/AdminUI/AdministratorUpdate/@information.AdministratorId">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <form method="post">
            <div class="form-group">
                <label>Yönetici Adı Soyadı</label>
                <input type="text" class="form-control" name="AdministratorName" required />
            </div>            
            <div style="margin-top:15px">
                <button class="btn btn-info" href="/AdminUI/AdministratorOperation">Yönetici Ekle</button>
            </div>
        </form>
    </div>
}
else
{
    <a class="btn btn-success" href="/AdminUI/Login">Lütfen Giriş Yapınız</a>
}

